In [5]:
#Importación de Pandas para el manejo de datos
import pandas as pd
#Importación de numpy para el manejo de números
import numpy as np
#Creación de un dataframe
Datos = {'Nombre':['Chalio','Marisol','Yolanda','Tina'], 
         'Calificaciones': ['100','90','100','80'], 
         'Deportes': ['Futbol', 'Natación', 'Basquetbol', 'Natación'], 
         'Materias': ['Cálculo', 'Métodos Númericos','Cocina','Química']}

In [4]:
#Creación e impresión del dataframe
df = pd.DataFrame(Datos)
print(df)

    Nombre Calificaciones    Deportes           Materias
0   Chalio            100      Futbol            Cálculo
1  Marisol             90    Natación  Métodos Númericos
2  Yolanda            100  Basquetbol             Cocina
3     Tina             80    Natación            Química

In [13]:
#Datos no válidos
Datos2 = {'Nombre':['Chalio','Marisol','Yolanda','N/A'], 
         'Calificaciones': ['100',np.nan,'90','80'], 
         'Deportes': ['Futbol', 'Natación', 'Basquetbol', 'N/A'], 
         'Materias': ['Cálculo', 'Métodos Númericos','N/A','Química']}
df = pd.DataFrame(Datos2)

In [8]:
print(df)

    Nombre Calificaciones    Deportes           Materias
0   Chalio            100      Futbol            Cálculo
1  Marisol            NaN    Natación  Métodos Númericos
2  Yolanda            100  Basquetbol                N/A
3      N/A             80         N/A            Química

In [9]:
#Información de dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
Nombre            4 non-null object
Calificaciones    3 non-null object
Deportes          4 non-null object
Materias          4 non-null object
dtypes: object(4)
memory usage: 208.0+ bytes
None

In [14]:
#Estadísticas básicas de información
print(df.describe())

         Nombre Calificaciones Deportes Materias
count         4              3        4        4
unique        4              3        4        4
top     Marisol             90   Futbol  Química
freq          1              1        1        1

In [15]:
#Nuevo dataframe
nuevo = pd.DataFrame(df)

In [16]:
#Instrucción para remplazar datos
nuevo = nuevo.replace(np.nan,0)

In [17]:
print(nuevo)

    Nombre Calificaciones    Deportes           Materias
0   Chalio            100      Futbol            Cálculo
1  Marisol              0    Natación  Métodos Númericos
2  Yolanda             90  Basquetbol                N/A
3      N/A             80         N/A            Química

In [19]:
nuevo2 = pd.DataFrame(df)

In [ ]:
#Borrar la fila que contenga n/a